include includes/head

div(class='container')
  if locals.title
    h1= title
  else
    h1= 'undefined message'
  p= 'test'
  form#dropzone.dropzone(action='/upload')
    .fallback
      input(name='file', type='file', multiple='')

  div(class='item-list')
    if locals.uploads
      - for (var i = 0; i < uploads.length; ++i) {
        - var nothumb = (locals.uploadDirectory + '/' + uploads[i]).replace('_thumb','');
        a.thumb-item(href=nothumb)
          img(src=locals.uploadDirectory + '/' + uploads[i])
      - }